[Unit]
Description=Manage Mihomo TUN on Sleep/Resume
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/local/bin/mihomo-sleep.sh 

[Install]
WantedBy=sleep.target
