[Unit]
Description=Mihomo Party Client
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/run-mihomo-party.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
